<h1>Artsy</h1>
<h3>Login Page</h3>

<form action="/profilepage" method="post" charset="utf-8">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password_hash" placeholder="password">
	<button onclick="window.location='/register';">Register here</button>
</form>



