<!DOCTYPE html>
<html>
	<head>
	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<div class="card valign-wrapper transparent z-depth-0">
      		<div class="card-content valign center-block" >
	        	<div class="row">
	            	<div class="col s12">	
						<h5>ARTSY</h5>
						<form action="/" method="post" charset="utf-8">
							<input type="text" name="username" placeholder="username" style="color:color;"></br></br>
							<input type="password" name="password_hash" placeholder="password" required></br></br>
							<button type="submit" value="Login" class="waves-effect waves-light btn">Login</button>
						</form>
						<p>Need to register? <a href ='/register'>Click here!</p>
					</div>

				</div>	
			</div>

		</div>
	  <!--Import jQuery before materialize.js-->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script type="text/javascript" src="js/materialize.min.js"></script>
	</body>
</html>

