<h1>Artsy</h1>
<h3>Register</h3>

<form action="/profilepage" method="post" charset="utf-8">
	<input type="text" name="first_name" placeholder="First Name">
	<input type="text" name="last_name" placeholder="Last Name">
	<input type="text" name="username" placeholder="Username">
	<input type="text" name="password_hash" placeholder="Password">
	 <input type="submit" value="Register Now"></input>
</form>

