<!DOCTYPE html>
<html>
	<head>
	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<div class="card valign-wrapper transparent z-depth-0">
			<div class="card-content valign center-block" >
	    		<div class="row">
	        		<div class="s12">	
						<h5 class="grey-text">Register</h5>
							<form action="/register/success" method="post" charset="utf-8">
								<input type="text" name="first_name" placeholder="First Name" required></br></br>
								<input type="text" name="last_name" placeholder="Last Name" required></br></br>
								<input type="text" name="username" placeholder="Username" required></br></br>
								<input type="text" name="password_hash" placeholder="Password" required></br></br>
								<input type="submit" value="Register Now"></input>
							</form>
					</div>
				</div>	
			</div>
		</div>
			  <!--Import jQuery before materialize.js-->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script type="text/javascript" src="js/materialize.min.js"></script>
	</body>
</html>

