html {
  font-family: 'Dosis', sans-serif;
  letter-spacing: .1rem; }

body {
  background-image: url("/images/trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.row {
  text-align: center; }

::-webkit-input-placeholder {
  color: black;
  text-align: center;
  font-size: 1.3rem; }

@-webkit-keyframes autofill {
  to {
    color: black;
    background: transparent; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

#register-prompt {
  font-weight: 600; }

h5 {
  font-size: 6em;
  color: black;
  padding-top: 10rem;
  padding-bottom: 1rem;
  font-weight: 200; }

p {
  color: white;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }

#register-header {
  font-size: 7.5rem;
  color: black;
  padding-top: 10rem;
  padding-bottom: 1rem;
  font-weight: 200; }

.register-form-background {
  background-color: rgba(255, 255, 255, 0.85);
  width: 90rem;
  height: 60rem; }

.register-form-container {
  margin: 0 auto;
  width: 320px; }

ul {
  text-align: center; }

#welcome-text {
  font-size: 3rem; }
