html {
  font-family: 'Dosis', sans-serif;
  letter-spacing: .1rem; }

body {
  background-image: url("/images/trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.row {
  text-align: center; }

::-webkit-input-placeholder {
  color: black; }

h5 {
  font-size: 6em;
  color: black;
  padding-top: 10rem;
  padding-bottom: 1rem;
  font-weight: 200; }

p {
  color: black;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
