html {
	font-family: 'Dosis', sans-serif;
	letter-spacing: .1rem;
}	


body {
	background-image: url('/images/trees.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.row { 
	text-align: center;
}

::-webkit-input-placeholder {
   color: black;
   text-align: center;
   font-size: 1.3rem;
}


@-webkit-keyframes autofill {
    to {
        color: black;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-animation-text-align: center;
}

input { 
	text-align: center;
	font-weight: 900; 
}


// ----- index / login form ------


#register-prompt {
	font-weight: 600;
}


h5 {
	font-size: 6em;
	color: black;
	padding-top: 11rem;
	padding-bottom: 0.3rem;
	font-weight: 200;

}

p {
	color: white;
	font-size: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

#quote {
	padding-top: 9.5rem;
	color: white;
	font-style: italic;
}

// ----- register form ------

#register-header {
	font-size: 7.5rem;
	color: black;
	padding-top: 10rem;
	padding-bottom: 1rem;
	font-weight: 200;

}


#new-register-page-container {
	background-color: rgba(255,255,255,0.85);
	width: 95%;
	height: 95%;

}

#register-page-form {
	text-align: center;
	width: 15rem;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 12rem;
}


#register-welcome-text {
	padding-top: 5rem;
	font-size: 3rem;
}

#register-message {
	padding-top: 3rem;
	font-size: 2rem;
}

// // #picasso {
// // 	width: 95%;
// // 	height: auto;


// }

// ----- profile page ------


ul {
	text-align: center;
}


#profile-welcome-text {
	font-size: 3rem;
}


#new-profile-page-container {
	background-color: rgba(255,255,255,0.85);
	width: 95%;
	height: 95%;
}

#profile-page-form {
	text-align: center;
	width: 20rem;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 1rem;
}


#file-input {
	width: 90%;
}








